tema1-xml/Lopez_Valero_JoseJulio_LM_U1_T2_DTD/Ejercicio5Externa.dtd

<!ELEMENT discos (titulo, interprete+, pistas+)>
    <!ELEMENT titulo (#PCDATA)>
    <!ELEMENT interprete (nombre, apellidos, rol)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT apellidos (#PCDATA)>
    <!ELEMENT rol (#PCDATA)>
    <!ELEMENT pistas (nombre_cancion, duracion)>
    <!ELEMENT nombre_cancion (#PCDATA)>
    <!ELEMENT duracion (#PCDATA)>